//Label
$label-display: block !default;

//Margins
$label-margin-top: $form-item-elements-margin-top !default;
$label-margin-bottom: $form-item-elements-margin-bottom !default;
$label-margin-left: $form-item-elements-margin-left !default;
$label-margin-right: $form-item-elements-margin-right !default;
$label-margin-for-screens: $form-item-elements-margin-for-screens !default;

//Outline
$label-outline-width: 0 !default;
$label-outline-style: null !default;
$label-outline-color: null !default;

//Borders
$label-border-width: 0 !default;
$label-border-style: null !default;
$label-border-color: null !default;
$label-borders: () !default;

//Paddings
$label-padding-top: 0 !default;
$label-padding-bottom: 0 !default;
$label-padding-left: 0 !default;
$label-padding-right: 0 !default;

//Extra style
//@mixin label-extra-style() {} //Create this mixin before import module when you want add some special style for element